<aside class="sitebar">
    <div class="sitebar__header">
        <img src="../assets/images/sidebar-header.jpg" alt="">

    </div>

    <div class="sitebar__content">

        <div class="profile">
            <img class="profile__avatar" src="../assets/images/profile.jpg" alt="">

            <div class="profile__name">Saidalimov Ilkham</div>
            <div class="profile__prof">блог front-end разработчика</div>
        
        

            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/instagram.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/vk.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/pinterest.svg" alt="">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>front-end разработчик. Занимаюсь версткой пол года. 
                    Создал 7 сайтов различной сложности с использованием современных
                    технологий. GULP. SCSS/SASS. 
                </p>
            </div>
        </div> <!--  profile-->
    </div><!-- content -->

    <!--  -->
    <div class="sitebar__footer">
        <a href="#" class="btn btn--red">Мои работы</a>
        <button class="btn btn--blue" type="button" >Написать мне</button>
    </div>

</aside>